html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.main{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: silver;
}
.inputs{
    margin-top: 1%;
    font-size: 4vh;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.inputs > input{
    font-size: 5vh;
    width: 60%;
    height: 5vh;
}
#modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#grading{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    background-color: aqua;
    height: 50%;
    border-radius: 3vw;   
    font-size: 2vw;
}
#five{
    width: 70%;
    text-align: left;
}
.ponthatar{
    font-size: 1vw;
    width: 50%;
    text-align: end;
}
#footer{
    position: absolute;
    bottom: 0;
    margin: auto;
    color: black;
    text-decoration: none;
}
.grades{
    height: 10vh;
    margin-left: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grades > input{
    width: 60%;
    height: 2vw;
}
.gomb{
    margin-top:2vh ;
    width: 15%;
    aspect-ratio: 4/1;
    background-color: gray;
    font-size: 2vw;
    cursor: pointer;
}
.gomb:active{
    background-color: darkgray;
}
#close{
    position: absolute;
    top: 0;
    right: 2vw;
    font-family:arial;
    font-size: 3vw;
    user-select: none;
    cursor: pointer;
}
#informationButton{
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 4vw;
    color: blue;
    user-select: none;
    cursor: pointer;
}

#info{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#inf{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 40%;
    border-radius: 3vw;   
    font-size: 1.5vw; 
}
#inf > p{
    margin: 0;
    
}

#sideSavok{
    position: absolute;
    top:0;
    left: 10vw;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5vh;
}

@media (max-width: 480px) {
    .inputs{
        width: 80%;
        flex-direction: column;
        align-items: center;
        font-size: 5vw ;
    }
    .inputs > input {
        height: 6vh;
    }
    .gomb{
        height: 10vh;
        width: 40vw;
        aspect-ratio: 1/4   ;
        font-size: 6vw;
    }
    #grading{
        width: 80%;
        font-size: 10vw;
    }
    #close{
        font-size: 8vw;
    }
    .ponthatar {
        font-size: 4vw;
    }
    .grades > input
    {
        height: 5vh;
    }
    #informationButton{
        visibility: hidden;
    }
    #sideSavok{
        position: relative;
        line-height: 1vh;
        left: 0;
    }
}